.btn__icon {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 34px;
    height: 34px;
    border:none;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.2);
    }

    &--info {
        background-image: url('../media/class_details_i_icon-ic_info.png');
        background-image: url('../media/class_details_i_icon-ic_info.svg');
        width: 17px;
        height: 17px;
    }

    &--cart {
        background-image: url('../media/home_cart_icon_circle.png');
        background-image: url('../media/home_cart_icon_circle.svg');
    }

    &--facebook {
        background-image: url('../media/footer_facebook_icon.png');
        background-image: url('../media/footer_facebook_icon.svg');
    }

    &--instagram {
        background-image: url('../media/footer_instagram_icon.png');
        background-image: url('../media/footer_instagram_icon.svg');
    }

    &--twitter {
        background-image: url('../media/footer_twitter_icon.png');
        background-image: url('../media/footer_twitter_icon.svg');
    }
}

.btn {
    height: 40px;
    margin: 0;
    padding: 10px 50px;
    font-size: 16px;
    line-height: 19px;
    color: $c-white;
    border: none;
    border-radius: 20px;

    &-primary {
        background: $c-orange-gradient;
        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    &-mobile {
        background: $c-orange-gradient;
        width: 187px;
        height: 52px;
        padding: 18px 26px;
        border-radius: 26px;
    }

    &-outline {
        width: 110px;
        height: 28px;
        padding: 7px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.62px;
        color: $c-white;
        border: 1px solid $c-white;
        border-radius: 24px;

        &:hover {
            background-color: $c-white;
            color: $c-blue;
        }
    }

    &-lg {
        height: 64px;
        padding: 20px 100px;
        font-size: 20px;
        line-height: 24px;
        border-radius: 64px;
    }
}