body {
    padding-top: 91px;

    @media (min-width: $bp-medium) {
        padding-top: 100px;
    }
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 91px;
    padding: 15px 20px;
    background-color: $c-white;
    box-shadow: 0 5px 6px 0 rgba(51,51,51,0.1);

    @media (min-width: $bp-medium) {
        height: 100px;
        padding: 15px 54px;
    }

    .nav {
        width: 100%;

        .logo {
            position: relative;
            z-index: 6;
            width: 50px;
            height: 54px;

            @media (min-width: $bp-large) {
                width: 72px;
                height: 72px;
            }
        }

        &__start,
        &__end {
            display: none;

            @media (min-width: $bp-large) {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }
        }

        &__end {
            margin-left: auto;
        }

        &__mobile {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            width: 100%;
        
            @media (min-width: $bp-large) {
                display: none;
            }
        }

        &__menu-icon {
            margin-left: auto;
            display: block;
            width: 36px;
            height: 36px;
            background: url('../media/mobile_menu_icon.png') no-repeat center/contain;
            background-image: url('../media/mobile_menu_icon.svg');

            &--close {
                background: url('../media/mobile_nav_close_icon.png') no-repeat center/contain;
                background-image: url('../media/mobile_nav_close_icon.svg');
            }
        }

        &__item {
            display: block;
            margin: 0 28px;
            font-size: 16px;
            line-height: 19px;
            color: $c-blue;

            &:hover {
                color: $c-orange;
            }

            &--small {
                font-size: 14px;
                line-height: 23px;
                letter-spacing: 0.72px;
            }

            &--search {
                background-image: url('../media/header_search_icon.png');
                background-image: url('../media/header_search_icon.svg');
                background-position: left;
                background-size: contain;
                background-repeat: no-repeat;
                padding-left: 30px;
            }

            &--cart {
                background-image: url('../media/header_cart_icon.png');
                background-image: url('../media/header_cart_icon.svg');
                background-position: left;
                background-size: contain;
                background-repeat: no-repeat;
                padding-left: 30px;
            }
        }
    }
}

.mobile-menu {
    display: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0; 
    right:0; 
    left: 0;
    bottom: 0;
    z-index: 5;
    background: $c-blue-gradient;

    &__nav {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        ul {
            list-style: none;
            margin: 0 0 63px;
            padding: 0;

            li {
                margin: 0 0 37px;
                padding: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: $c-orange;
                    font-size: 20px;
                    line-height: 24px;

                    &:hover {
                        color: $c-white;
                    }
                }
            }
        }
    }

    .header {
        position: relative;
        background-color: transparent;
        box-shadow: none;
    }
}
